

body{
    background-color: black;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin-top: 20px;
    padding: 0;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    
}

.text-1{
    position: relative;
    top: 500px;
    right: 300px;
}

.text-2{
    position: relative;
    top: 500px;
    left: 550px;
    max-height: 200px;
}

.hsbtn{
    margin: 30px;
    padding: 30px;
    font-size: 16px;
    font-weight: bold;
}


header{
    width: 100%;
    height: 60px;
}
header > div{
    /* background-color: blue; */
    height: 100%;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    /* background-color: blue; */
    /* z-index: -1; */
    /* position: fixed; */
    /* top: 0; */
    position: relative;
    top: 30px;
    left: 5px;
}

header nav{
    background-color: transparent;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin: 0 auto; */
    position: relative;
    padding: 10px 15px;
    
}

header  nav a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.dropbtn {
    
    position: relative;
    right: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: solid white 1px;

}

.dropdown{
    position: relative;
    /* right: 50px; */
    display: inline-block;
}

.dropdown-content{
    text-align: center;
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a: :hover {
    background-color: #ddd;
 }

.dropdown:hover .dropdown-content {
    display: block;
    position: relative;
}

.dropdown:hover .dropbtn {background-color: mediumblue;}

.content{
    width: 100%;
    height: 800px;

}

.content > div {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.bg-shared{
    background-size: cover;
    background-position: center center;
    background-position: fixed;
}

.bg-1{
    
    background-image: url(./images/rocketcleaner.jpg);
}

h2 {
    
    text-align: left;
    color: white;
    font-size: 64px;
}

h1 {
    color: white;
    font-size: 32px;
    text-align: left;
}

div button {
    color: white;
    background-color: transparent;
    padding: 7px 10px;
    font-size: 24px;
    border: solid white 2px;
}

.bg-2{
    background-image: url(./images/bg-2.jpg);
}

.bg-3{
    background-image: url(./images/bg-3.jpg);
}

.bg-4{
    background-image: url(./images/bg-4.jpg);
}

section{
    color: white;
    font-size: 16px;
}