

body{
    background-color: black;
    height: 100vh;
}


header{
    width: 100%;
    height: 60px;
}
header > div{
    /* background-color: blue; */
    height: 100%;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    /* background-color: blue; */
    /* z-index: -1; */
    position: fixed;
    top: 0;
    position: relative;
    top: 30px;
    left: 5px;
}

header nav{
    background-color: black;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin: 0 auto; */
    position: relative;
    padding: 10px 15px;
    
}

header  nav a {
    color: white;
}

.dropbtn {
    position: relative;
    right: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: solid white 1px;

}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a: :hover {background-color: #ddd; }

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: mediumblue;}

.content{
    width: 100%;
    height: 500px;

}

.content > div {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.bg-shared{
    background-size: cover;
    background-position: center center;
    background-position: fixed;
}

.bg-1{
    
    background-image: url(./images/rocketcleaner.jpg);
}

h2 {
    
    text-align: left;
    color: white;
    font-size: 64px;
}

h1 {
    color: white;
    font-size: 32px;
    text-align: left;
}

div button {
    color: white;
    background-color: transparent;
    padding: 7px 10px;
    font-size: 24px;
    border: solid white 2px;
}